Repository da-moon/podinfo: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-fmt, go-fmt, go-mod-tidy

md-fmt:
  name: md-fmt
  entry: contrib/scripts/hooks/md-fmt.sh
  language: script
  description: Formats markdown files. requires 'remarkjs' , 'prettier' and 'sponge'

go-fmt:
  name: go fmt
  entry: contrib/scripts/hooks/go-fmt.sh
  language: script
  description: Runs `gofmt`, requires golang

go-mod-tidy:
  name: go-mod-tidy
  entry: contrib/scripts/hooks/go-mod-tidy.sh
  language: script
  description: Runs `go mod tidy -v`, requires golang

feat(api/handlers/cache): register **PUT** `/cache/{key}` route in API group `Register()`
  api/handlers/cache/cache.go
Due: go-fmt, go-mod-tidy

docs(changelog): v0.7.0
  CHANGELOG.md
Due: md-fmt

docs(api/handlers/cache/doc): package synopsis
  api/handlers/cache/get/doc.go
Due: go-fmt, go-mod-tidy

feat(api/handlers/cache/get): `handler` implementation
  api/handlers/cache/get/handler.go
Due: go-fmt, go-mod-tidy

feat(api/handlers/cache/get): route `register` implementation
  api/handlers/cache/get/init.go
Due: go-fmt, go-mod-tidy

feat(api/handlers/cache): register **GET** `/cache/{key}` route in API group `Register()`
  api/handlers/cache/cache.go
Due: go-fmt, go-mod-tidy

docs(api/handlers/cache/delete): package synopsis
  api/handlers/cache/delete/doc.go
Due: go-fmt, go-mod-tidy

feat(api/handlers/cache/delete): `handler` implementation
  api/handlers/cache/delete/handler.go
Due: go-fmt, go-mod-tidy

feat(api/handlers/cache): register **DELETE** `/cache/{key}` route in API group `Register()`
  api/handlers/cache/delete/init.go
Due: go-fmt, go-mod-tidy

feat(api/handlers/cache): register **DELETE** `/cache/{key}` route in API group `Register()`
  api/handlers/cache/cache.go
Due: go-fmt, go-mod-tidy

feat(cmd/podinfo/commands/server): parse redis info with flags
  api/handlers/init.go
  cmd/podinfo/commands/server/command.go
Due: go-fmt, go-mod-tidy

docs: added code stats
  README.md
Due: md-fmt

docs: `swagger` yaml
  swagger.yaml
Due: none

docs: add `Roadmap`
  README.md
Due: md-fmt

docs: update `just` target in main `README` file
  README.md
Due: md-fmt

docs: add some instructions and context
  README.md
  api/core/config.go
  api/handlers/init.go
  cmd/podinfo/commands/server/command.go
Due: md-fmt, go-fmt, go-mod-tidy

docs(changelog): v0.8.0
  CHANGELOG.md
Due: md-fmt

ci(dockeer): trigger build on changes to any `*.go` file
  .github/workflows/docker.yml
  tools.go
Due: go-fmt, go-mod-tidy

docs(changelog): v0.9.0
  CHANGELOG.md
Due: md-fmt

ci(docker): fix `buildx` id collision
  .github/workflows/docker.yml
Due: none

ci(docker): trigger build after adding secrets
  .github/workflows/docker.yml
Due: none

ci(docker): checking to see if docker credenials exist
  .github/workflows/docker.yml
Due: none

build(just/markdown) install `remark-reference-links` as dependency
  .gp/Dockerfile
  Justfile
  build/just/markdown.just
Due: none

chore(docker-compose): `redis` service
  .env
  docker-compose.yml
Due: none

chore(docker-compose): `redis` service configuration file
  docker-compose.yml
  fixtures/.gitignore
  fixtures/redis/redis.conf.tmpl
Due: none

refactor(build/go/version): remove unnecessary information
  build/go/version/version.go
Due: go-fmt, go-mod-tidy

fix(api/handlers/cache): enabled `/cache` api group
  .cspell/golang.txt
  api/core/config.go
  api/core/listener.go
  api/core/redis_config.go
  api/core/router.go
  api/core/server.go
  api/core/telemetry.go
  api/handlers/init.go
  cmd/podinfo/commands/server/command.go
  cmd/podinfo/commands/server/redis_flags.go
  cmd/podinfo/commands/server/server_flags.go
Due: go-fmt, go-mod-tidy

chore(docker-compose): fix redis listener
  README.md
  docker-compose.yml
Due: md-fmt

refactor: better logging
  api/handlers/cache/delete/init.go
  api/handlers/cache/get/init.go
  api/handlers/cache/post/init.go
  api/handlers/cache/put/init.go
  api/handlers/cache/shared/preflight.go
  api/handlers/delay/init.go
  api/handlers/env/init.go
  api/handlers/headers/init.go
  api/handlers/liveness/init.go
  api/handlers/readiness/disable/init.go
  api/handlers/readiness/enable/init.go
  api/handlers/readiness/init.go
  api/middlewares/logrus.go
  cmd/podinfo/commands/server/command.go
  sdk/api/response/failure.go
Due: go-fmt, go-mod-tidy

fix(api/handlers/cache): all cache endpoints are working
  README.md
  api/handlers/cache/delete/handler.go
  api/handlers/cache/get/handler.go
  api/handlers/cache/post/handler.go
  api/handlers/cache/put/handler.go
  api/handlers/cache/shared/preflight.go
  api/handlers/delay/handler.go
  api/handlers/readiness/handler.go
  sdk/api/response/failure.go
  sdk/api/response/success.go
Due: md-fmt, go-fmt, go-mod-tidy

build(just/podinfo): `/cache/` api group recipes
  Justfile
  README.md
  api/core/config.go
  build/just/podinfo.just
  cmd/podinfo/commands/server/command.go
  cmd/podinfo/commands/server/redis_flags.go
Due: md-fmt, go-fmt, go-mod-tidy

docs(changelog): v1.0.0
  CHANGELOG.md
Due: md-fmt

chore(docker-compose): add `podinfo` service
  README.md
  docker-compose.yml
Due: md-fmt

Update README.md
  README.md
Due: md-fmt

Path conditions:
  md-fmt: any of: \.md$
  go-fmt: any of: \.go$
  go-mod-tidy: any of: \.go$
