Repository da-moon/podinfo: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-fmt, go-fmt, go-mod-tidy

md-fmt:
  name: md-fmt
  entry: contrib/scripts/hooks/md-fmt.sh
  language: script
  description: Formats markdown files. requires 'remarkjs' , 'prettier' and 'sponge'

go-fmt:
  name: go fmt
  entry: contrib/scripts/hooks/go-fmt.sh
  language: script
  description: Runs `gofmt`, requires golang

go-mod-tidy:
  name: go-mod-tidy
  entry: contrib/scripts/hooks/go-mod-tidy.sh
  language: script
  description: Runs `go mod tidy -v`, requires golang

docs(api/handlers/env): package synopsis
  api/handlers/env/doc.go
Due: go-fmt, go-mod-tidy

feat(api/handlers/env): `response` type
  api/handlers/env/response.go
Due: go-fmt, go-mod-tidy

feat(api/handlers/env): `handler` implementation
  api/handlers/env/handler.go
Due: go-fmt, go-mod-tidy

feat(api/handlers/env): routte `register` implementation
  api/handlers/env/init.go
Due: go-fmt, go-mod-tidy

feat(api/handlers): register `/env` route in `Initialize()`
  api/handlers/init.go
Due: go-fmt, go-mod-tidy

build(build/just/podinfo): `env-probe` recipe
  Justfile
  build/just/podinfo.just
Due: none

docs(api/handlers/headers): package synopsis
  api/handlers/headers/doc.go
Due: go-fmt, go-mod-tidy

feat(api/handlers/headers): `response` type
  api/handlers/headers/response.go
Due: go-fmt, go-mod-tidy

feat(api/handlers/headers): `handler` implementation
  api/handlers/headers/handler.go
Due: go-fmt, go-mod-tidy

feat(api/handlers/headers): route `register` implementation
  api/handlers/headers/init.go
Due: go-fmt, go-mod-tidy

feat(api/handlers): register `/headers` route in `Initialize()`
  api/handlers/init.go
Due: go-fmt, go-mod-tidy

build(build/just/podinfo): `headers-probe` recipe
  Justfile
  build/just/podinfo.just
Due: none

docs(changelog): v0.4.0
  CHANGELOG.md
Due: md-fmt

docs(api/handlers/delay): package synopsis
  api/handlers/delay/doc.go
Due: go-fmt, go-mod-tidy

feat(api/handlers/delay): `response` setup
  api/handlers/delay/response.go
Due: go-fmt, go-mod-tidy

feat(api/handlers/delay): `handler` implementation
  api/handlers/delay/handler.go
Due: go-fmt, go-mod-tidy

feat(api/handlers/delay): route `register` implementation
  api/handlers/delay/init.go
Due: go-fmt, go-mod-tidy

feat(api/handlers): register **GET** `/delay/{seconds}` route in `Initialize()`
  api/handlers/init.go
Due: go-fmt, go-mod-tidy

build(build/just/podinfo): `delay-probe` recipe
  Justfile
  build/just/podinfo.just
Due: none

docs(changelog): v0.5.0
  CHANGELOG.md
Due: md-fmt

refactor(internal/cli/flagset): more flexiblity in self-documenting flags
  internal/cli/flagset/flagset.go
Due: go-fmt, go-mod-tidy

feat(internal/cli/value): handle `int` type cli flags
  internal/cli/value/int.go
Due: go-fmt, go-mod-tidy

refactor(internal/cli/flagset): more flexibilty in prettifying generated flag usage
  internal/cli/flagset/pretty.go
Due: go-fmt, go-mod-tidy

chore(re-commit): hook updates
  contrib/scripts/hooks/go-mod-tidy.sh
  contrib/scripts/hooks/just-fmt.sh
  contrib/scripts/hooks/md-fmt.sh
Due: none

build(docker/podinfo): minor changes to build script
  contrib/docker/podinfo/build.sh
Due: none

feat(api/core): add `redis` configuration fields and methods
  api/core/config.go
  api/core/listener.go
  api/core/redis_config.go
  api/core/router.go
Due: go-fmt, go-mod-tidy

feat(cmd/podinfo/commands/server): flags to read `redis` config
  cmd/podinfo/commands/server/redis_flags.go
  cmd/podinfo/commands/server/server_flags.go
  cmd/podinfo/commands/server/telemetry_flags.go
Due: go-fmt, go-mod-tidy

docs(api/handlers/cache/shared): package synopsis
  api/handlers/cache/shared/doc.go
Due: go-fmt, go-mod-tidy

feat(api/handlers/cache/shared): `API group` shared constructs
  api/handlers/cache/shared/group.go
Due: go-fmt, go-mod-tidy

feat(api/handlers/cache/shared): `preflight` request handler
  api/handlers/cache/shared/preflight.go
Due: go-fmt, go-mod-tidy

docs(changelog): v0.6.0
  CHANGELOG.md
Due: md-fmt

docs(api/handlers/cache/post): package synopsis
  api/handlers/cache/post/doc.go
Due: go-fmt, go-mod-tidy

feat(api/handlers/cache/post): `handler` implementation
  api/handlers/cache/post/handler.go
Due: go-fmt, go-mod-tidy

feat(api/handlers/cache/post): route `register` implementation
  api/handlers/cache/post/init.go
Due: go-fmt, go-mod-tidy

feat(api/handlers/cache): register **POST** `/cache/{key}` route in API group `Register()`
  api/handlers/cache/cache.go
Due: go-fmt, go-mod-tidy

docs(api/handlers/cache): package synopsis
  api/handlers/cache/doc.go
Due: go-fmt, go-mod-tidy

docs(changelog): v0.7.0
  CHANGELOG.md
Due: md-fmt

docs(api/handlers/cache/put): package synopsis
  api/handlers/cache/put/doc.go
Due: go-fmt, go-mod-tidy

feat(api/handlers/cache/put): `handler` implementation
  api/handlers/cache/put/handler.go
Due: go-fmt, go-mod-tidy

feat(api/handlers/cache/put): route `register` implementation
  api/handlers/cache/put/init.go
Due: go-fmt, go-mod-tidy

Path conditions:
  md-fmt: any of: \.md$
  go-fmt: any of: \.go$
  go-mod-tidy: any of: \.go$
