Repository da-moon/podinfo: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-fmt, go-fmt, go-mod-tidy

md-fmt:
  name: md-fmt
  entry: contrib/scripts/hooks/md-fmt.sh
  language: script
  description: Formats markdown files. requires 'remarkjs' , 'prettier' and 'sponge'

go-fmt:
  name: go fmt
  entry: contrib/scripts/hooks/go-fmt.sh
  language: script
  description: Runs `gofmt`, requires golang

go-mod-tidy:
  name: go-mod-tidy
  entry: contrib/scripts/hooks/go-mod-tidy.sh
  language: script
  description: Runs `go mod tidy -v`, requires golang

docs(sdk/api/response): `WriteSuccessfulJSONRaw()` synopsis
  sdk/api/response/success.go
Due: go-fmt, go-mod-tidy

refactor(api/handlers/liveness): update `handler()` to write response json without adding additional fields
  api/handlers/liveness/handler.go
Due: go-fmt, go-mod-tidy

test(just/podinfo):`liveness-probe` recipe
  .env
  Justfile
  build/just/podinfo.just
Due: none

docs(just/podinfo):`liveness-probe` recipe
  Justfile
  build/just/podinfo.just
Due: none

feat(sdk/api/response): `WriteJSON()` function implementation
  .cspell/golang.txt
  api/handlers/liveness/handler.go
  sdk/api/response/errors.go
  sdk/api/response/failure.go
  sdk/api/response/response.go
  sdk/api/response/success.go
Due: go-fmt, go-mod-tidy

docs(sdk/api/response): `WriteJSON()` function synopsis
  sdk/api/response/response.go
Due: go-fmt, go-mod-tidy

fix(sdk/api/response): address linter complaints
  sdk/api/response/failure.go
  sdk/api/response/response.go
Due: go-fmt, go-mod-tidy

docs: `liveness-probe` instruction
  README.md
  contrib/scripts/hooks/md-fmt.sh
Due: md-fmt

chore(gitpod): added more tools to the dockerfile
  .gp/Dockerfile
Due: none

build(docker): fixed minor issues with `docker-bake.hcl` file
  docker-bake.hcl
Due: none

chore(gitpod): add `bootstrap` task
  .gitpod.yml
Due: none

build(docker): laxer package versioning in dockerfile
  contrib/docker/podinfo/Dockerfile
Due: none

chore(gitpod): `rust` toolchain configuration
  .gp/Dockerfile
Due: none

build(just/bootstrap): add `rust` toolchain
  Justfile
  build/just/bootstrap.just
Due: none

ci(release): update `setup-go` and `goreleaser-action` actions
  .github/workflows/release.yml
Due: none

ci(release): remove `unshallow` step
  .github/workflows/release.yml
Due: none

build(docker): `gitpod` target
  .vscode/extensions.json
  docker-bake.hcl
Due: none

docs(docker/buildx): `gitpod` target
  .vscode/extensions.json
  cspell.config.yaml
  docker-bake.hcl
Due: none

ci(go): fixed arguments in `build` step
  .github/workflows/go.yml
  .gitpod.yml
  .vscode/extensions.json
  Justfile
  build/just/markdown.just
Due: none

ci(go): fixed arguments in `test` step
  .github/workflows/go.yml
Due: none

ci: update min go version to `1.20`
  .github/workflows/go.yml
  .github/workflows/release.yml
Due: none

chore(gitpod): source `gitpod` variables
  .gitpod.yml
  .gp/Dockerfile
Due: none

build(just/go) `_release` recipe
  Justfile
  build/just/go.just
Due: none

docs(just/go) `_release` recipe
  Justfile
  build/just/go.just
Due: none

build(just/go) `release` recipe
  Justfile
  build/just/go.just
Due: none

docs(just/go) `release` recipe
  Justfile
  build/just/go.just
Due: none

ci(release): fix deprecated flags in `go-releaser` step
  .github/workflows/release.yml
Due: none

ci(go): add `go-releaser` step
  .github/workflows/go.yml
Due: none

ci(docker): detect `TAG`
  .github/workflows/docker.yml
Due: none

build(go-releaser): do not sign archive
  .goreleaser.yml
Due: none

build(just/git): prune refs in `git-fetch` recipe
  Justfile
  build/just/git.just
Due: none

docs(changelog): `v0.1.0`
  .goreleaser.yml
  CHANGELOG.md
Due: md-fmt

docs(changelog): v0.2.0
  CHANGELOG.md
Due: md-fmt

chore(gitpod): fix `gitpod` shell config in dockerfile
  .gp/Dockerfile
Due: none

refactor(api/handlers/liveness): change route impl pattern
  .vscode/extensions.json
  api/handlers/init.go
  api/handlers/liveness/handler.go
  api/handlers/liveness/init.go
Due: go-fmt, go-mod-tidy

feat(sdk/api/response): `LogEntry()` implementation
  sdk/api/response/failure.go
  sdk/api/response/response.go
  sdk/api/response/success.go
Due: go-fmt, go-mod-tidy

docs(sdk/api/response): `LogEntry()` synopsis
  sdk/api/response/response.go
Due: go-fmt, go-mod-tidy

refactor(sdk/api/response): `Write` function
  .cspell/golang.txt
  .env
  .gitpod.yml
  .gp/Dockerfile
  .vscode/settings.json
  go.mod
  go.sum
  sdk/api/response/failure.go
  sdk/api/response/response.go
Due: go-fmt, go-mod-tidy

refactor(api/handlers/liveness): new pattern of writing `HandlerFn`
  api/handlers/liveness/handler.go
  api/handlers/liveness/init.go
Due: go-fmt, go-mod-tidy

docs(api/handlers/readiness): package synopsis
  api/handlers/readiness/doc.go
  sdk/api/route/route.go
Due: go-fmt, go-mod-tidy

Path conditions:
  md-fmt: any of: \.md$
  go-fmt: any of: \.go$
  go-mod-tidy: any of: \.go$
