Repository da-moon/podinfo: changes, and which pre-commit hooks are due for each by the changed paths.
All: md-fmt, go-fmt, go-mod-tidy

md-fmt:
  name: md-fmt
  entry: contrib/scripts/hooks/md-fmt.sh
  language: script
  description: Formats markdown files. requires 'remarkjs' , 'prettier' and 'sponge'

go-fmt:
  name: go fmt
  entry: contrib/scripts/hooks/go-fmt.sh
  language: script
  description: Runs `gofmt`, requires golang

go-mod-tidy:
  name: go-mod-tidy
  entry: contrib/scripts/hooks/go-mod-tidy.sh
  language: script
  description: Runs `go mod tidy -v`, requires golang

docs(just/go): `build-go` target synopsis
  Justfile
  build/just/go.just
Due: none

build(just/podinfo): `kill` target implementation
  Justfile
  build/just/podinfo.just
Due: none

docs(just/podinfo): `kill` target synopsis
  Justfile
  build/just/podinfo.just
Due: none

build(just/podinfo): `run` target implementation
  Justfile
  build/just/podinfo.just
Due: none

docs(just/podinfo): `run` target synopsis
  Justfile
  build/just/bootstrap.just
  build/just/podinfo.just
Due: none

build(just/core): aggregator targets
  Justfile
  build/just/00-core.just
Due: none

docs(build/go): `Build` target synopsis
  build/go/magefile.go
Due: go-fmt, go-mod-tidy

docs: init
  .markdownlintignore
  README.md
Due: md-fmt

docs(changelog): updated changelog for v0.0.1
  .gitignore
  CHANGELOG.md
Due: md-fmt

build(just/semver): changed changelog commit message pattern
  Justfile
  build/just/semver.just
Due: none

chore: fix `.gitpod.yml`
  .gitpod.yml
Due: none

chore: change image in `.gitpod.yml`
  .gitpod.yml
Due: none

build(just/commit): fix `bootstrap-pre-commit` hook installation
  Justfile
  build/just/commit.just
  contrib/scripts/hooks/just-fmt.sh
Due: none

chore(gitpod): replace `yarn` with `npm` in Dockerfile
  .gp/Dockerfile
Due: none

build(just/go): fix `mage` install in `_build-go` target
  Justfile
  build/just/go.just
Due: none

chore(pre-commit): ensure Justfile is identical to upstream in `just-fmt.sh` script
  contrib/scripts/hooks/just-fmt.sh
Due: none

chore: minor fix
  Justfile
  build/just/go.just
  contrib/scripts/hooks/just-fmt.sh
Due: none

chore: minor fix
  Justfile
  build/just/go.just
Due: none

docs(api/handlers/liveness): package synopsis
  api/handlers/liveness/doc.go
  api/handlers/liveness/handler.go
  contrib/scripts/hooks/go-fmt.sh
  contrib/scripts/hooks/go-mod-tidy.sh
  contrib/scripts/hooks/md-fmt.sh
Due: go-fmt, go-mod-tidy

feat(api/handlers/liveness):`Status` enum
  api/handlers/liveness/handler.go
Due: go-fmt, go-mod-tidy

docs(api/handlers/liveness): `Status` enum
  api/handlers/liveness/handler.go
Due: go-fmt, go-mod-tidy

feat(api/handlers/liveness):`Status.String()` function
  api/handlers/liveness/handler.go
  api/handlers/liveness/response.go
Due: go-fmt, go-mod-tidy

docs(api/handlers/liveness):`Status.String()` function
  api/handlers/liveness/response.go
Due: go-fmt, go-mod-tidy

feat(api/handlers/liveness): `Response` struct
  api/handlers/liveness/response.go
Due: go-fmt, go-mod-tidy

feat(api/handlers/liveness): package constants
  api/handlers/liveness/handler.go
  api/handlers/liveness/response.go
Due: go-fmt, go-mod-tidy

docs(api/handlers/liveness): package constants
  api/handlers/liveness/handler.go
Due: go-fmt, go-mod-tidy

feat(api/handlers/liveness): `Handler` struct
  api/handlers/liveness/handler.go
  api/handlers/liveness/init.go
Due: go-fmt, go-mod-tidy

docs(api/handlers/liveness): `Handler` struct
  api/handlers/liveness/init.go
Due: go-fmt, go-mod-tidy

feat(api/handlers/liveness): `New()` function
  api/handlers/liveness/init.go
Due: go-fmt, go-mod-tidy

docs(api/handlers/liveness): `New()` function
  api/handlers/liveness/init.go
Due: go-fmt, go-mod-tidy

feat(api/handlers/liveness): `Initialize()` function
  api/handlers/liveness/init.go
Due: go-fmt, go-mod-tidy

docs(api/handlers/liveness): `Initialize()` function
  api/handlers/liveness/init.go
Due: go-fmt, go-mod-tidy

refactor(api/handlers/liveness): error propagation for `New()` function
  api/handlers/liveness/init.go
Due: go-fmt, go-mod-tidy

feat(api/handlers): Register and initialize `kubernetes-liveness-probe` route
  .cspell/golang.txt
  api/handlers/healthcheck.go
  api/handlers/init.go
  api/handlers/liveness/handler.go
  api/handlers/liveness/init.go
Due: go-fmt, go-mod-tidy

feat(api/handlers): remove `Prefix` from pre-flight handler
  api/handlers/preflight.go
Due: go-fmt, go-mod-tidy

docs: fix instruction to run mage's `build` target
  .cspell/golang.txt
  README.md
Due: md-fmt

docs(swaggger): add `GET` verb for `/healthz`
  swagger.yaml
Due: none

refactor(api/core/router): error propagation for http request handler init
  .cspell/golang.txt
  api/core/router.go
Due: go-fmt, go-mod-tidy

build(just/bootstrap): add `bootstrap-os-pkgs` dependency to `bootstrap` target
  Justfile
  build/just/bootstrap.just
Due: none

feat(sdk/api/response): `WriteSuccessfulJSONRaw()` function implementation
  sdk/api/response/success.go
Due: go-fmt, go-mod-tidy

Path conditions:
  md-fmt: any of: \.md$
  go-fmt: any of: \.go$
  go-mod-tidy: any of: \.go$
